/*notice: this entire thing is vibecoded because i cannot find any firefox css documentation and im too lazy to go into the source files, and im basically just removing ui elements nothing crazy*/

/* removing the zoom percentage icon */
#urlbar-zoom-button {
	display: none !important;
}

#mainPopupSet menupopup,
#placesContext {
	/* --menu-background-color: rgba(0, 0, 0, 0.5) !important; */
	/* --arrowpanel-background: rgba(0, 0, 0, 0.5) !important; */
	--panel-background: rgba(0, 0, 0, 0.25); /*!important; - makes transparent menu work, but makes panel selector buggy*/
	/* --menu-border-color: rgba(0, 0, 0, 0.5) !important; */
	/* --arrowpanel-border-color: rgba(0, 0, 0, 0.5) !important; */
	/* --panel-border-color: rgba(0, 0, 0, 0.5) !important; */
}

/* menu, */
/* menuitem { */
/*   background-color: transparent !important; */
/* } */

/* removing close tab button */
/* .tabbrowser-tab .tab-close-button, */
/* .tab-close-button, */
/* .tabbrowser-tab .tab-close-button { */
/*   display: none !important; */
/* } */

/* removing window control buttons */
.titlebar-buttonbox-container,
#titlebar .titlebar-buttonbox-container,
#close-button,
#titlebar-close,
#window-controls,
#window-controls-box {
	display: none !important;
}

/*removing bottom left thingy */
#statuspanel,
#statuspanel-box,
.statuspanel,
#webext-statuspanel,
#web-statuspanel,
#statusPanel,
[anonid="statusPanel"],
#statuspanel-label,
#statuspanel-text,
#statuspanel-description {
	display: none !important;
	visibility: hidden !important;
	pointer-events: none !important;
}
